@import "../../../../styles.scss";

.image {
  width: 100%;
  max-height: 5rem;
  border-radius: var(--border-radius);
  &-chuck {
    object-fit: cover;
    object-position: 100% 35%;
  }
  &-unknown {
    object-fit: contain;
  }
  @include sm {
    max-height: 9rem;
  }
}
