<div class="card">
  <app-language-picker class="language-container"></app-language-picker>
  <app-image [name]="customName"></app-image>
  <div *ngIf="!error.isPresent; else errorMessage">{{ chuckJoke.value }}</div>
  <ng-template #errorMessage>{{ "error.title" | translate }}</ng-template>
  <app-category-select
    (onCategoryChange)="setCategory($event)"
  ></app-category-select>
  <app-input-form (onNameChange)="setDownloadName($event)" (onNameSubmit)="setCustomName($event)"></app-input-form>
  <app-save-jokes-form class="save-container" [name]="downloadName" [category]="category"></app-save-jokes-form>
</div>
<app-alert-snackbar></app-alert-snackbar>
